<%= simple_form_for :session, url: session_path do |form| %>
  <%= form.input :email, as: :email, autofocus: true %>
  <%= form.input :password, as: :password %>

  <%= submit_button f: form,
                    text: 'Sign in',
                    icon: false,
                    class: 'block w-full' %>

  <div class="other-links mt-3 flex content-between">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"),
                  sign_up_path,
                  class: 'block link' %>
    <% end %>

    <%= link_to t(".forgot_password"),
                new_password_path,
                class: 'block link ml-auto' %>
  </div>
<% end %>
