<div id="clearance" class="sign-up bg-gray-200 w-full">
  <div class="max-w-sm mx-auto pt-32 px-4 h-screen">
    <div class="bg-white rounded border-transparent overflow-hidden shadow-md">
      <div class="bg-gray-800 text-gray-500 px-5 py-3">
        <h1 class="text-lg text-center uppercase"><%= t(".title") %></h1>
      </div>

      <section class="py-8 px-6">
        <%= simple_form_for @user do |form| %>
          <%= render partial: '/users/form', object: form %>

          <div class="submit-field">
            <%= submit_button f: form,
                              text: 'Sign up',
                              icon: false,
                              class: 'block w-full' %>
          </div>

          <div class="other-links mt-3">
            <%= link_to t(".sign_in"),
                        sign_in_path,
                        class: 'block link' %>
          </div>
        <% end %>
      </section>
    </div>
  </div>
</div>
