<%#
# Index

This view is the template for the index page.
It is responsible for rendering the search bar, header and pagination.
It renders the `_table` partial to display details about the resources.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Collection][1].
  Contains helper methods to help display a table,
  and knows which attributes should be displayed in the resource's table.
- `resources`:
  An instance of `ActiveRecord::Relation` containing the resources
  that match the user's search criteria.
  By default, these resources are passed to the table partial to be displayed.
- `search_term`:
  A string containing the term the user has searched for, if any.
- `show_search_bar`:
  A boolean that determines if the search bar should be shown.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Collection
%>

<% content_for(:left_menu) do %>
  <%= link_to fa_icon('arrow-left'), :back, title: 'Back', class: 'btn btn-gray' %>
<% end %>

<% content_for(:title) do %>
  <%= display_resource_name(page.resource_name) %>
<% end %>

<% content_for(:right_menu) do %>
  <% if valid_action?(:new) && show_action?(:new, new_resource) %>
    <%= link_to(
            fa_icon('plus', text: t(
                "administrate.actions.new_resource",
                name: page.resource_name.titleize.downcase
            )),
            [:new, namespace, page.resource_path],
            class: "btn btn-primary",
        ) %>
  <% end %>
<% end %>

<% if show_search_bar %>
  <div class="flex justify-center py-2">
    <%= render(
            "search",
            search_term: search_term,
            resource_name: display_resource_name(page.resource_name)
        ) %>
  </div>
<% end %>

<section class="py-4 px-2 md:px-4">
  <%= render(
          "collection",
          collection_presenter: page,
          collection_field_name: resource_name,
          page: page,
          resources: resources,
          table_title: "page-title"
      ) %>

  <%= paginate resources %>
</section>
