<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>

<% content_for(:left_menu) do %>
  <%= link_to(
          fa_icon('arrow-left'),
          [namespace, page.resource.class],
          class: "btn btn-gray",
          ) if valid_action?(:index) %>
<% end %>

<% content_for(:title) { t("administrate.actions.show_resource", name: page.page_title) } %>

<% content_for(:right_menu) do %>
  <%= link_to(
          fa_icon('pencil-alt'),
          [:edit, namespace, page.resource],
          class: "btn btn-warning",
          title: t("administrate.actions.edit_resource", name: page.page_title),
          ) if valid_action?(:edit) && show_action?(:edit, page.resource) %>
  <%= link_to(
          fa_icon('trash'),
          [namespace, page.resource],
          class: "btn btn-danger ml-2",
          method: :delete,
          data: { confirm: t("administrate.actions.confirm") },
          title: t("administrate.actions.destroy"),
          ) if valid_action?(:destroy) && show_action?(:destroy, page.resource) %>
<% end %>

<section class="main-content__body py-4 px-4 md:px-6">
  <dl>
    <% page.attributes.each do |attribute| %>
      <dt class="attribute-label font-bold" id="<%= attribute.name %>">
        <%= t(
                "helpers.label.#{resource_name}.#{attribute.name}",
                default: attribute.name.titleize,
                ) %>
      </dt>

      <dd class="attribute-data attribute-data--<%=attribute.html_class%> mb-4"
      ><%= render_field attribute, page: page %></dd>
    <% end %>
  </dl>
</section>
