<div id="clearance" class="password-reset bg-grey-lighter w-full">
  <div class="max-w-sm mx-auto pt-32 px-4 h-screen">
    <div class="bg-white rounded border-transparent overflow-hidden shadow-md">
      <div class="bg-grey-darker text-grey px-5 py-3">
        <h1 class="text-lg text-center uppercase"><%= t(".title") %></h1>
      </div>

      <section class="py-8 px-6">
        <p class="mb-0"><%= t(".description") %></p>

        <%= simple_form_for :password_reset,
                     url: user_password_path(@user, token: @user.confirmation_token),
                     html: { method: :put } do |form| %>
          <%= form.input :password, as: :password, autofocus: true %>
          <%= submit_button f: form,
                            text: 'Save this password',
                            icon: false,
                            class: 'block w-full' %>
        <% end %>
      </section>
    </div>
  </div>
</div>
