<!DOCTYPE html>
<html>
<head>
  <title>Quickstart</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
</head>

<body class="font-sans">

<header>
  <%= render 'layouts/messages' %>
  <div class="h-64 bg-gray-700">
    <h1 class="pt-12 text-center text-4xl sm:text-6xl uppercase tracking-wide text-gray-500">
      <%= link_to 'Quickstart', root_path %>
    </h1>
  </div>
</header>

<main role="main" class="max-w-5xl mx-2 lg:mx-auto -mt-12 bg-white rounded shadow-lg p-6">
  <%= yield %>
</main>

<footer>
  <div class="max-w-5xl mx-auto flex items-center justify-between px-4">
    <p class="text-center pt-4">&copy;Copyright 2020<%= "-#{Date.current.year}" if Date.current.year > 2020 %></p>
    <% if user_signed_in? %>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'link link-gray' %>
    <% else %>
      <% if current_page?(new_user_session_path) %>
        <%= link_to 'Back to Home Page', root_path, class: 'link link-gray' %>
      <% else %>
        <%= link_to 'Sign In', new_user_session_path, class: 'link link-gray' %>
      <% end %>
    <% end %>
  </div>
</footer>

</body>
</html>
